html body{
    border: 2px;
}
form {
    width: 30em;
    padding-top: 3em;
    position: relative;
    text-transform: uppercase;
}
input {
    margin: 0 0 1em 31%;
    padding: .2em .5em;
    width: 60%;
    background-color: aliceblue;
    border: 2px solid lightslategrey;
    text-transform: none;
}
.file {
    text-transform: uppercase;
}

button {
    margin-left: 50%;
}


