body{
    font-family: "Raleway", "Helvetica Neue", "Arial", "sans-serif";
    margin: 8px 16px 0 16px;
    font-size: 16px;
    line-height: 16px;
    font-weight:normal;
    color: whitesmoke;
    display: block;
    overflow: hidden;

}

form {
    margin: 8px 16px 0 16px;
    padding: 2%

}

input {
    color: slategrey;
    padding: 2%
}

table {
    margin: 8px 16px 0 16px;
}