/* ---------------------------Login Seite------------------------------------------------*/
.loginsite {
    background-color: slategray;
    height:100vh;
    width: 100vw;
}
.loginbox {
    width: 30vw;
    height: 50vh;
    margin: auto auto;
    position: relative;
    top: 10vh;
}


.card {
    background: #ffffff;
    border-radius: 5px;
    padding: 60px 0 40px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card .title {
    border-left: 5px solid slategray;
    margin: 0 0 20px;
    padding: 10px 0 10px 50px;
    color: slategrey;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
}
.card .input-container {
    position: relative;
    margin: 0 20px 30px;
}

.card .input-container input {
    background: lightgrey;
    width: 100%;
    height: 4vh;
    border: 0;
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    box-shadow: none;
}

.card .input-container label {
    display: ruby;

}

.card .input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
}

.card .button-container {
    margin: 0 6vw;
    text-align: center;
}


.card .button-container button, a{
    margin: 5%;
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: slategrey;
    width: 14vw;
    border: 2px solid #708090;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.card .button-container button, a {
    border-color: aliceblue;
}
.card .button-container button,a {
    color: aliceblue;
}

.extrainfo {

    padding-bottom: 2vh;
    text-align: center;
    position: relative;
}

.credits, .impressum {
    text-align: center;
    padding-bottom: 2vh;
}

.impressum {

    top: 30vh;
    color: slategrey;
    display: inline-block;
    float: none;
    padding-right: 10px;
}