/* ---------------------------Login Seite------------------------------------------------*/
.loginsite {
    background-color: #205379;
    height:100vh;
    width: 100vw;
}
.loginbox {
    width: 30vw;
    height: 50vh;
    margin: auto auto;
    position: relative;
    top: 10vh;
}

/* Card */
.firstcard {
    background: #fd6e6e;
    height: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0 10px;
    padding: 0;
}

.card {
    background: #ffffff;
    border-radius: 5px;
    padding: 60px 0 40px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card .title {
    border-left: 5px solid #fd6e6e;
    margin: 0 0 35px;
    padding: 10px 0 10px 50px;
    color: #fd6e6e;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}
.card .input-container {
    position: relative;
    margin: 0 60px 50px;
}

.card .input-container input {
    background: none;
    width: 100%;
    height: 6vh;
    border: 0;
    color: #212121;
    font-size: 24px;
    font-weight: 400;
    box-shadow: none;
}

.card .input-container label {
    display:none;
}

.card .input-container .bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #757575;
    width: 100%;
    height: 1px;
}

.card .button-container {
    margin: 0 8vw;
    text-align: center;
}

.card .button-container button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    background: #ffffff;
    width: 14vw;
    border: 2px solid #e3e3e3;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.card .button-container button span {
    position: relative;
    z-index: 1;
    color: #ddd;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
    border-color: #fd6e6e;
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
    color: #fd6e6e;
}

.cardfooter {
    margin: 40px 0 0;
    color: #d3d3d3;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}

.cardfooter a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
.cardfooter a:hover {
    color: #bababa;
}
