/* NAV BEGINN -------------------------------------------------------------------------------*/
html body {
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    background-color: #e6e6e6;
    width: 100vw;
    padding: 20px 0px;
    position: fixed;
    z-index: 2;
}
.nav ul li {
    display:inline;
    padding: 20px 20px;
}

.nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #5a5a5a;
    font-size: 12px;
    font-weight: 300;
    padding: 32px 20px;
}
/* Hover Effekt beim drübergehen*/
.nav a:hover {
    background-color: #c6c6c6;
    opacity: 0.75;
}
/* Padding an den Seiten */
.pull-right {
    padding: 0px 200px 0px 0px;
}

.pull-left {
    padding: 0px 0px 0px 200px;
}


/* Jumbotron BEGINN --------------------------------------------------*/
.jumbotron {
    height: 100vh; /* Viewport Height regelt die Gr��e des Blocks entsprechend dem Bildschirm*/
    /*background-color: #002846;*/
    margin-bottom: 0px;
    background-image: url(https://images.unsplash.com/photo-1437419764061-2473afe69fc2?dpr=1.5&fit=crop&fm=jpg&h=875&ixlib=rb-0.3.5&q=66&w=1450);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

.jumbotron .claim {
    color: #fff;
    text-align: left;
    padding-top: 15vh;
    font-size: 80px;
    line-height: 90px;
    font-weight: 900;
    width: 55vw;
    height: 70vh;
    padding-bottom: 5vh;
    position: relative;
    right: 6vw;

}

/* Von links werden die Unterstriche und die Farben gel�scht*/
a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}
/*Button oben */
.cta {
    position: relative;
    height: 60px;
    text-align: center;
    font-size: 22px;
    color: white;
    background: #205379;/*#28d8b3;*/
    border: 2px solid #e6e6e6;
    padding: 13px;
    font-weight:600;
    border-radius: 5px;
    top: -5vh;
    left: 15vh;
}

.cta:hover {
    transition: all 0.6s ease 0s;
    background: #fff none repeat scroll 0 0;
    z-index: 1
}

#highlight {
    color: yellow;
}

/* Testimonials */
.testimonials{
    height: 30vh;
    background-color: #205379;
}


/* https://snap-photos.s3.amazonaws.com/img-thumbs/960w/VV0697QWMS.jpg */


.testimonial {
    font-size: 30px;
    color: #efefef;
    font-style: italic;
    line-height:40px;
    width: 60vw;
    height: 20vh;
    text-align: center;
    position: relative;
    top: 3vh;
}

.testimonials h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #fd6e6e;
    position: relative;
    display: inline;
    top: 2vh;
}

.quote  {
    font-size: 100px;
    font-style: italic;
    line-height: 100px;
    font-family: "Helvetica Neue";
    position: absolute;
}

.quote1 {
    left: -4vw;
    top:-3vh;
}

.quote2 {
    position:absolute;
    top: 12vh;
    right: 4vw;
}

.author {
    position: relative;
    color: #fff;
    font-size: 12px;
    top: 0vh;
    font-weight: bold;
}

/* About Teil */
.about {
    height: 30vh;
    background-color: #fbfbfb;
}

.about h2 {
    margin-top: 0;
    color: #fd6e6e;
    position: relative;
    top: 2vh;
}
.abouttext {
    font-size: 30px;
    color: #002846;
    line-height:40px;
    width: 60vw;
    height: 20vh;
    text-align: center;
    position: relative;
    top: 3vh;
    font-weight: 400;
}

/* Registrieren-Feld*/
.registrieren {
    height: 60vh;
    background-color: #98d2e6;
}

.registrieren h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #fd6e6e;
    position: relative;
    display: inline;
    top: 2vh;
}

.registrieren input {

    border-radius: 3px;
    position: relative;
    top: 10vh;
    box-shadow: none;
    background: #fff;
    margin-top: 1vh;
    border: none;
    text-indent: 1vw;

}

#vname, #nname{
    width: 15.4vw;
    height:5vh;
}

#nname {
    position: relative;
    right: 0;
}
#email {
    width: 31vw;
    height: 5vh;
}

#pw1 {
    width: 31vw;
    height: 5vh;
}

#pw2 {
    width: 31vw;
    height: 5vh;
}

#rights {
}

#righttext{
    position: relative;
    top: 10vh;
    /*left: 2vw;*/
}

#submit {
    width: 20vw;
    height: 5vh;
    background-color: #fd6e6e;
    font-weight: 800;
    color: #fff;
    font-size: 16px;
    opacity: 0.9
}


#submit:hover {
    opacity: 1;
}


.button-container {
    position: relative;
    top: 10vh;
}

.button-container button {
    position: relative;
    background: #205379 ;
    color: #fff;
    text-align: center;
    /*border-radius: 0;*/
    width: 20vw;
    height: 5vh;
    border: 2px solid #e6e6e6;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}
/*--------------------------Footer---------------------------------------*/

.footer {
    background-color: #aaa;
    height: 22vh;
}

#line {
    color: #fff;
    /*position: relative;*/
    width: 50vw;
    top: 7vh;
    opacity: 0.5;

}
.ulfloat {
    list-style: none;
    text-align: center;
    margin-bottom: 5vh;
}

.ulfloat li {
    display:inline-block;
}

.credits, .impressum {
    /*position:relative;*/
    top: 6vh;
    color: #ffffff;
    display: inline-block;

    float:right;
    padding-right: 10px;

}

.extrainfo {
    /*text-align: center;
    margin: 0 auto;*/
}

.rot {
    width: 100px;
    height: 100px;
    background: red;
}
.social {
    font-size: 69px;
    padding-right: 5vw;
    text-align: center;
    position: relative;
    top: 5vh;
    color: #fbfbfb;
    transition: all 0.3s ease 0s;
}

.facebook {
    color: #e6e6e6;
}

.twitter {
    color: #e6e6e6;
}

.youtube {
    color: #e6e6e6;
}

.twitter:hover {
    color: #55acee;
}

.youtube:hover {
    color: #c4302b;
}

.facebook:hover {
    color: #3b5998;
}

/*-------------------------Hover Effekt beim Registrieren button ---------------------*/
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 5px;

}
.hvr-sweep-to-right:before {
    border-radius: 5px;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
    border-radius: 5px;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-radius: 5px;
}


.testimonial, .abouttext,h2, small{
    font-family: "Raleway", "Helvetica Neue", "Arial", "sans-serif";
}

h2 {
    font-weight: 600;
}

.author {
    font-weight: 400;
}


/*Sweep Experiment --------------------------------------------------*/
.sweep {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 5px;

}
.sweep:before {
    border-radius: 5px;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1  ;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.sweep:hover, .sweep:focus, .sweep:active {
    color: white;
    border-radius: 5px;
}
.sweep:hover:before, .sweep:focus:before, .sweep:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-radius: 5px;
}
/* Input Feld bei Showuploads.php -------------------------------------------*/
.testtt {
    position: relative;
    left: 100px;
    opacity: 0;
    z-index:-1;
}

.visible {
    opacity: 1;
    z-index: 1;
}


/* Popover Link bei Showuploads------------------------------------------------*/

.popover {
    border: 0px solid #98d2e6;
}
/* Popover Header */
.popover-title {
    background-color: #98d2e6;
    color: #fff;
    font-size: 18px;
    text-align:center;
}
/* Popover Body */
.popover-content {
    background-color: #205379;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 0 0 5px 5px;
}

.popover-content li {
    overflow: hidden;
    text-overflow: ellipsis;
}

.popover-content {
    word-break: break-all;
}

/*Scrollen der Navigation */
#scrolltestimonial {
    background-color: #fff;
    opacity:0;
    z-index: -1;
    position: absolute;
    top: 93vh;
}

#scrollabout {
    background-color: #fff;
    opacity:0;
    z-index: -1;
    position: absolute;
    top: 123vh;
}

/* Tabellengröße regulieren*/
.dateiname {
    width: 25vw;
    height: 6vh;
}