/* NAV BEGINN -------------------------------------------------------------------------------*/
html body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: slategray;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    background-color: aliceblue;
    width: 100vw;
    padding: 20px 0px;
    position: fixed;
    z-index: 2;
}
.nav ul li {
    display:inline;
    padding: 20px 20px;
}


.nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: dimgray;
    font-size: 15px;
    font-weight: 300;
    padding: 32px 20px;

}



/* Hover Effekt beim dr�bergehen*/
.nav a:hover {
    background-color: slategrey;
    opacity: 0.75;
}


/* Padding an den Seiten */


.pull-left {
    padding: 0px 200px 0px 200px;
    /*  float:left;
      width:200px;
      margin: 1em;     float wert zum schieben*/
}

.pull-right {
    padding: 0px 200px 0px 200px;
    /*  clear:left;   float wert zum schieben*/
}


/* Profil */

.profil {
    position: relative;
    top: 20px;
    overflow: visible;
    text-align: center;

}

.profilkopf {
    background-color:slategray;
    background-size: auto;
    height: 135px;
}

.profilbody {
    font-family: "Raleway", "Helvetica Neue", "Arial", "sans-serif";
    margin: 8px 14px 0 14px;
    font-size: 14px;
    line-height: 16px;
    font-weight:normal;
    color: #98D2E6;
    display: block;
    overflow: hidden;
}


img {
    float: left;
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 2%;
    border: 1px solid;
    border-color: slategrey;

}

h1 {
    font-family: "Raleway", "Helvetica Neue", "Arial", "sans-serif";
    margin: 8px 14px 0 14px;
    font-size: 20px;
    line-height: 16px;
    font-weight: normal;
    color: slategrey;
    display: block;
    overflow: hidden;
}


.btn {
    color: #98D2E6;
}

@media screen and (min-width:320px) {

    .nav {
        float: left;
        width: 25%;
    }

    .pull-left {
        padding: 0px 0px 0px 200px;
    }

    .pull-right {
        padding: 0px 200px 0px 200px;
    }

    @media screen and (max-width: 768px) {
        .pull-left {
            padding: 0px 0px 0px 200px;
        }

        .pull-right {
            padding: 0px 200px 0px 200px;
        }
        @media screen and (min-width: 768px) {
            .nav li {
                display: inline;

            }
    }
}
}