form {
    width: 30em;
    padding-top: 3em;
    position: relative;
    text-transform: uppercase;
    color: slategrey;
}
input {
    margin: 0 0 1em 31%;
    padding: .2em .5em;
    width: 60%;
    background-color: aliceblue;
    text-transform: uppercase;
}
.file {
    text-transform: uppercase;
}

button {
    margin: 0 0 1em 31%;
    text-transform: uppercase;
    background-color: aliceblue;
    color: slategrey;
    height:33px;
    width: 252px;
}

.extrainfo img{
    padding: 20px 30px ;
    width: auto;
    height: auto;
    float: right;
    margin: 1em 0 4em 12%;

}