/* NAV BEGINN -------------------------------------------------------------------------------*/
html body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: slategray;
    margin: 0 auto;
}

.container {
    background-color: aliceblue;
    width: 100vw;
    padding: 20px 30px;
    position: inherit;

}
.nav ul li {
    display:inline;
    padding: 20px 20px;
}


.nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: dimgray;
    font-size: 15px;
    font-weight: 300;
    padding: 32px 20px;

}

/* Hover Effekt beim dr�bergehen*/
.nav a:hover {
    background-color: slategrey;
    opacity: 0.5;
}

img {
    float: left;
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 2%;
    border: 1px solid;
    border-color: slategrey;
}

h1 {
    font-family: "Raleway", "Helvetica Neue", "Arial", "sans-serif";
    margin: 8px 14px 0 14px;
    font-size: 20px;
    line-height: 16px;
    font-weight: normal;
    color: slategrey;
    display: block;
    overflow: hidden;
}

h2 {
    font-family: "Raleway", "Helvetica Neue", "Arial", "sans-serif";
    margin: 20px 25px 0 130px;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    color: aliceblue;
    display: table;
    overflow: hidden;
}

table {
    font-family: "Raleway", "Helvetica Neue", "Arial", "sans-serif";
    margin: 10px 25px 20px 130px;
    font-size: 16px;
    line-height: 25px;
    font-weight: lighter;
    color: aliceblue;
    display: block;
    overflow: hidden;
}

td{
    padding: 1%

}
