a {
    text-decoration: none;
}

body {
    font-family: "Raleway", "Helvetica Neue", "Arial", "sans-serif";
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border: 1px dotted #efefef;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

td {
    padding: 10px 5px;
    font-family:"Raleway", "Helvetica Neue", "Arial", "sans-serif";
}


#load {
    position:absolute;
    left:225px;
    background-position:center;
    background-repeat:no-repeat;
    width:159px;
    color:#999;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
    height:40px;
    font-weight:300;
    padding-top:14px;
    top: 23px;
}